name: Create release

on:
  push:
    branches: 
      - "main"
  pull_request:
    branches: [ "main" ]

jobs:
  release:
    runs-on: ghcr.io/cirruslabs/macos-runner:sonoma

    env:
      XCODE_VERSON: latest

    steps:
    - uses: actions/checkout@v4
    - uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: ${{ env.XCODE_VERSON }}

    - name: Build with SwiftPM
      run: |
        cd UsePrebuiltSwiftSyntaxSwiftPM
        echo "machine api.github.com\n  login yume190\n  password ${{ secrets.PERSONAL_ACCESS_TOKEN }}" > .netrc
        swift build --netrc-file .netrc
        