name: Create release

on:
  push:
    branches: 
      - "main"
  pull_request:
    branches: [ "main" ]

jobs:
  release:
    runs-on: ghcr.io/cirruslabs/macos-runner:sonoma

    env:
      XCODE_VERSON: latest

    steps:
    - uses: actions/checkout@v4
    - uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: ${{ env.XCODE_VERSON }}

    # - name: Setup PAT for Private Repos
    #   run: |
    #     git config --global url."https://${{ secrets.PERSONAL_ACCESS_TOKEN }}@github.com/".insteadOf "https://github.com/"

    - name: Set up .netrc
      run: |
        echo "machine api.github.com" > ~/.netrc
        echo "login yume190" >> ~/.netrc
        echo "password ${{ secrets.PERSONAL_ACCESS_TOKEN }}" >> ~/.netrc
        echo "machine github.com" > ~/.netrc
        echo "login yume190" >> ~/.netrc
        echo "password ${{ secrets.PERSONAL_ACCESS_TOKEN }}" >> ~/.netrc
        chmod 600 ~/.netrc

    - name: Test .netrc
      run: |
        curl --output source.zip \
          --location \
          --netrc \
          https://github.com/PreternaturalAI/swift-syntax/releases/download/600.0.0/SwiftBasicFormat.xcframework.zip
        ls -al
        pwd

    - name: Build with Mac
      run: |
        cd UsePrebuiltSwiftSyntaxMac
        xcodebuild clean build \
          -scheme UsePrebuiltSwiftSyntaxMac

    - name: Build with iOS
      run: |
        cd UsePrebuiltSwiftSyntaxIos
        xcodebuild clean build \
          -scheme UsePrebuiltSwiftSyntaxIos

    - name: Build with SwiftPM
      run: |
        cd UsePrebuiltSwiftSyntaxSwiftPM
        swift build --netrc-file ~/.netrc
        